.header {
  background-color: #078ff0;
  background-image: url('../../../../../assets/img/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 23px;

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url('../../../../../assets/img/header-bg@2x.png');
  }

  &__container {
    align-items: flex-start;
    display: flex;
  }

  &__logo {
    display: block;
    height: 42px;
    margin-left: 100px;
    margin-right: 18px;
    min-width: 42px;
    width: 42px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navbar {
  margin: 0 -12px 10px;

  &__item {
    color: inherit;
    display: block;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 12px;
    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.2s;
    user-select: none;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.6;
    }

    &--active {

      &,
      &:hover,
      &:active {
        opacity: 1;
        cursor: default;
      }
    }
  }
}
