.header {
  background-color: #078ff0;
  background-image: url('../../../../../assets/img/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 23px;

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url('../../../../../assets/img/header-bg@2x.png');
  }

  &__container {
    align-items: flex-start;
    display: flex;
  }

  &__logo {
    display: block;
    height: 42px;
    margin-left: 100px;
    margin-right: 18px;
    min-width: 42px;
    width: 42px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.trip-main {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;

  &--hidden {
    display: none;
  }

  &__trip-info {
    margin-bottom: 35px;
    width: 100%;
  }

  &__trip-controls {
    width: 600px;
  }

  &__event-add-btn {
    min-width: 170px;

    &--hidden {
      display: none;
    }
  }
}

.trip-info {
  align-items: center;
  display: flex;

  &__main {
    width: 600px;
  }

  &__title {
    font-size: 17px;
    font-weight: 800;
    line-height: 21px;
    margin: 0 0 4px;
  }
  
  &__dates {
    font-size: 13px;
    font-weight: 800;
    line-height: 16px;
    margin: 0;
    opacity: 0.8;
    text-transform: uppercase;
  }

  &__cost {
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    margin: 0 0 0 auto;
    text-align: center;
    width: 170px;
  }

  &__trip-tabs {
    margin-bottom: 9px;
  }
}

.trip-tabs {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;

  &__btn {
  color: inherit;
  display: block;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.8;
  text-decoration: none;
  transition: opacity 0.2s;
  user-select: none;

    &:not(:last-of-type) {
      margin-right: 26px;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.6;
    }

    &--active,
    &--active:hover,
    &--active:active {
      opacity: 1;
      cursor: default;
    }
  }
}
