.header {
  background-color: #078ff0;
  background-image: url('../../../../../assets/img/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 23px;

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url('../../../../../assets/img/header-bg@2x.png');
  }

  &__container {
    align-items: flex-start;
    display: flex;
  }

  &__logo {
    display: block;
    height: 42px;
    margin-left: 100px;
    margin-right: 18px;
    min-width: 42px;
    width: 42px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.trip-events {
  padding-top: 22px;

  &--hidden {
    display: none;
  }

  &__trip-sort {
    margin-bottom: 8px;
  }
}