.trip-sort {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;

  &__item {
    color: #b4b4b4;
    cursor: default;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.6px;
    line-height: 16px;
    margin-right: 15px;
    text-transform: uppercase;
    transition: color 0.2s;

    &:last-child {
      margin-right: 0;
    }

    &--day {
      margin-right: 83px;
      text-align: center;
      width: 55px;
    }

    &--event {
      width: 298px;
    }

    &--time {
      width: 283px;
    }

    &--price {
      width: 119px;
    }
  }

  &__btn {
    align-items: center;
    border-radius: 14px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    padding: 7px 15px 6px 22px;

    &:hover {
      color: #000;
    }
  }

  &__input:checked + &__btn {
    border-color: #000;
    color: #000;
    position: relative;

    &::before {
      background-color: #ffd054;
      border-radius: 50%;
      content: '';
      height: 8px;
      left: 8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
    }
  }

  &__direction-icon {
    display: none;
    height: 10px;
    margin-left: 5px;
    width: 8px;
  }

  &__btn--by-decrease &__direction-icon {
    transform: rotate(180deg);
  }
}
