<form class="trip-sort" action="#" method="get">
  <span class="trip-sort__item trip-sort__item--day">Day</span>

  <div class="trip-sort__item trip-sort__item--event">
    <input id="sortEvent" class="trip-sort__input visually-hidden" type="radio" name="trip-sort" value="sort-event"
      checked />

    <label class="trip-sort__btn" for="sortEvent">Event</label>
  </div>

  <div class="trip-sort__item trip-sort__item--time">
    <input id="sortTime" class="trip-sort__input visually-hidden" type="radio" name="trip-sort" value="sort-time" />

    <label class="trip-sort__btn" for="sortTime">
      Time
      <svg class="trip-sort__direction-icon" width="8" height="10" viewBox="0 0 8 10">
        <path d="M2.888 4.852V9.694H5.588V4.852L7.91 5.068L4.238 0.00999987L0.548 5.068L2.888 4.852Z" />
      </svg>
    </label>
  </div>

  <div class="trip-sort__item trip-sort__item--price">
    <input id="sortPrice" class="trip-sort__input visually-hidden" type="radio" name="trip-sort" value="sort-price" />

    <label class="trip-sort__btn" for="sortPrice">
      Price
      <svg class="trip-sort__direction-icon" width="8" height="10" viewBox="0 0 8 10">
        <path d="M2.888 4.852V9.694H5.588V4.852L7.91 5.068L4.238 0.00999987L0.548 5.068L2.888 4.852Z" />
      </svg>
    </label>
  </div>

  <span class="trip-sort__item trip-sort__item--offers">Offers</span>
</form>
