.ui-button {
  border-radius: 27px;
  background-color: #ffd054 !important;
  color: #424242;
  font-size: 18px;
  padding: 6px 0;
  min-width: 170px;
  &:hover {
    color: #0d8ae4;
  }

  &.ui-button-rounded {
    font-size: 12px;
    padding: 2px;
    min-width: 60px;
    border-color: #f2f2f2;
    color: #f2f2f2;
    &.success {
    background-color: #0d8ae4 !important;
    }
    &.danger {
    background-color: #e48e0d !important;
    }
  }
}
