<button icon="pi pi-plus" pButton type="button" label="New event" class="ui-button ui-button-warning btn"
  (click)="showDialog()">
</button>

<p-dialog [(visible)]="display" [style]="{width: '350px', minWidth: '200px'}">
  <p-header>
    Add new event
  </p-header>
  <p-footer>
    <button icon=" pi pi-check" pButton type="button" class="ui-button-rounded success"></button>
    <button icon="pi pi-times" pButton type="button" class="ui-button-rounded danger"></button>
  </p-footer>
</p-dialog>
